<div>
  <input type="text" [(ngModel)]="restaurantFilter.number">
  <input type="text" [(ngModel)]="restaurantFilter.name">
  <select *ngIf="showFieldOffice()" [(ngModel)]="restaurantFilter.fieldOffices" multiple="true">
    <option *ngFor="let fieldOffice of fieldOfficeFilterOptions()" [ngValue]="fieldOffice">{{fieldOffice.name}}</option>
  </select>
  <select *ngIf="showCoOp()" [(ngModel)]="restaurantFilter.coOps" multiple="true">
    <option *ngFor="let coOp of coOpFilterOptions()" [ngValue]="coOp">{{coOp.name}}</option>
  </select>
</div>
<table>
  <thead>
    <tr>
      <td>
        <input type="checkbox" [(ngModel)]="selectAll" (change)="handleSelectAll()">
      </td>
      <td>Number</td>
      <td>Name</td>
      <td *ngIf="showFieldOffice()">Field Office</td>
      <td *ngIf="showCoOp()">CoOp</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of filteredRestaurants()">
      <td>
        <input type="checkbox" [checked]="selectedRestaurants.indexOf(restaurant) >= 0" (change)="handleSelect(restaurant)">
      </td>
      <td>{{restaurant.number}}</td>
      <td>{{restaurant.name}}</td>
      <td *ngIf="showFieldOffice()">{{restaurant.fieldOffice.name}}</td>
      <td *ngIf="showCoOp()">{{restaurant.coOp.name}}</td>
    </tr>
  </tbody>
</table>